/* Colors */
:root {
    --background-color: #b9b7b7;
    --text-color: #e4e4e4;
    --accent-color: #4169E1; /* Royal Blue */
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    overflow-x: hidden; /* This hides any horizontal overflow, ensuring no horizontal scrollbar */
}

#main-content {
    flex: 1; /* This allows the main content to take up the remaining space */
    /* other styles for the main content... */
    max-width: calc(100% - 400px);
    margin-left: 400px; /* This makes space for the sidebar */
    padding-left: 20px;
}

/* Sidebar Styling */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0 0 400px;
    width: 400px; /* or whatever width you want */
    height: 100%;
    background-color: #34495e; /* A shade darker than body for a slight contrast */
    padding: 20px;
    box-shadow: 2px 0 5px #2e56ce;
    font-size: 17px;
    overflow-y: auto;
}

#sidebar i {
    margin-right: 5px;
}

#sidebar a {
    text-decoration: none; /*removes the underline from the link*/
    color: #e4e4e4;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #005582;
}

#profile-pic {
    width: 220px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.contact-info {
    padding: 5px;
}

.email i.fas, .phone i.fas, .github i.fab {
    font-size: 20px; /* Adjust to your preference */
}

.education-hist {
    margin-left: 20px;
}

#skills .skills-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
}

#skills .skills-container span {
    background-color: #34495e; 
    padding: 5px 10px; /* Adjust the padding as needed */
    border: 2px solid #dee2e6; /* Light gray border */
    border-radius: 4px; /* Optional: for rounded corners */
    font-size: 17px; /* Adjust the font size as needed */
}

#tabs {
    display: flex;
    background-color: #1E1E1E;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 18px;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #333;
}

.tab-button.active {
    background-color: royalblue;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
}

#work-experience {
    display: block;
}

#main-content h2 {
    color:#34495e;
}

.experience-card {
    width: 350px; /* adjust as needed */
    height: 250px; /* adjust as needed */
    background-color: #34495e; /* adjust color as needed */
    border: 3px solid #34495e;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;  /* Added */
    overflow: hidden;    /* Added */
}

.experience-card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* adjust color and opacity as needed */
    pointer-events: none; /* this makes sure that content underneath can still be interacted with */
}

.experience-card:hover .card-text, 
.experience-card:hover .experience-logo {
    background-color: inherit;
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;  /* Center the text horizontally */
    width: 100%;
    height: 50px;
    background-color: #34495e;
    display: flex;
    padding: 5px;
    border-bottom: 2px solid #34495e;
    z-index: 2;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.experience-logo {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: contain; /*changed from cover to contain*/
    display: block;
}

.experience-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    z-index: 1200;
}

.close-detail {
    background-color: rgb(122, 12, 12); /* adjust as needed */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.github-link {
    background-color: rgb(52, 133, 36); /* adjust as needed */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1000; /* Ensure it's on top */
    display: none;
}

.card-header {
    text-align: center;
    padding: 10px;  /* Adjust padding as needed */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: #1E1E1E;
}

.card-subheader {
   text-align: center; 
   color: #1E1E1E;
}

.card-skills {
    margin-left: 20px;;
}

.divider {
    height: 1px;
    background-color: #000000;  /* Adjust color as needed */
    margin: 10px 20px;  /* Vertical & horizontal margins */
}

.sidebar-divider {
    height: 1px;
    background-color: #e4e4e4;  /* Adjust color as needed */
    margin: 10px 20px;  /* Vertical & horizontal margins */
}

.head-divider {
    height: 2px;
    background-color: #34495e;
    margin: 10px 20px;
}

.card-content {
    padding: 10px;  /* Adjust padding as needed */
    text-align: justify; /* Or "left", "right" based on your design */
    color: #1E1E1E;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.project-picture {
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: block;
    border-radius: 10px;
    cursor: default;
}

.project-picture.zoomable {
    cursor: zoom-in; /* This will show the magnifying glass cursor only for zoomable images */
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.zoom-overlay img {
    max-width: 80%;
    max-height: 80%;
}


.table-picture {
    width: 170px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: block;
}

.bio-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

.sidebar i {
    margin-right: 5px;
    color:#718f76d5;
    font-size: 12px;
}

/* Styling for the footer */
footer {
    background-color: rgb(167, 162, 162);
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Adjusts spacing between sections */
    align-items: center;
    max-width: 1500px; /* Adjust based on your preference */
    margin: 0 auto; /* Centers the container horizontally */
}

/* Styling for the LinkedIn icon */
.linkedin-icon {
    color: #0e76a8; /* LinkedIn's primary color */
    font-size: 24px; /* Adjust size if necessary */
    text-decoration: none; /* Removes the underline from the link */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.linkedin-icon:hover {
    color: #005582; /* Darkened LinkedIn color on hover */
}

.content-wrapper {
    flex: 1;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 0 40px;
    vertical-align: middle;
}

.footer-section h3 {
    margin: 0;
}

.footer-section a {
    margin: 0;
    vertical-align: middle;
}

.footer-section p {
    margin-top: 10px;
}

.footer-section .icon-wrapper {
    margin-top: 5px;
}