/* Colors */
:root {
    --background-color: #353030;
    --text-color: #e4e4e4;
    --accent-color: #4169E1; /* Royal Blue */
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Modern font, you can change it as needed */
    background-color: var(--background-color);
    color: var(--text-color);
}


body {
    display: flex;
}

body {
    overflow-x: hidden; /* This hides any horizontal overflow, ensuring no horizontal scrollbar */
}

#sidebar {
    flex: 0 0 250px; /* This sets the sidebar width to 250px; adjust as needed */
    width: 250px;
    /* other styles for the sidebar... */
}

#main-content {
    flex: 1; /* This allows the main content to take up the remaining space */
    /* other styles for the main content... */
    max-width: calc(100% - 250px);
    margin-left: 300px; /* This makes space for the sidebar */
    padding-left: 20px;
}

/* Sidebar Styling */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; /* or whatever width you want */
    height: 100%;
    background-color: #2c4182; /* A shade darker than body for a slight contrast */
    padding: 20px;
    box-shadow: 2px 0 5px #4169E1;
}

#profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#tabs {
    display: flex;
    background-color: #1E1E1E;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #333;
}

.tab-button.active {
    background-color: royalblue;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
}

#work-experience {
    display: block;
}

.experience-card {
    width: 300px; /* adjust as needed */
    height: 200px; /* adjust as needed */
    background-color: #b4ce9e; /* adjust color as needed */
    border: 3px solid #0e3f7e;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;  /* Added */
    overflow: hidden;    /* Added */
}

.experience-card:hover {
    background-color: #555; /* darker shade on hover */
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;  /* Center the text horizontally */
    width: 100%;
    height: 50px;
    background-color: #0e3f7e;
    display: flex;
    padding: 5px;
    border-bottom: 2px solid #0e3f7e;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.experience-logo {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: auto;
    height: calc(100% - 60px);
    /* height: auto; */
    object-fit: cover;
    margin: auto;
    display: block;
    transform: translateY(-50%);
}

.experience-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8e8585;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    z-index: 1200;
}

.close-detail {
    background-color: rgb(80, 3, 3); /* adjust as needed */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1000; /* Ensure it's on top */
    display: none;